@import url('https://fonts.googleapis.com/css?family=Fauna+One');

body {
  margin: 0;
}

h1{
  text-align: center;
  font-size: 4em;
  margin-top: -10px;
  font-family: 'Fauna One', serif;
  font-weight: bold;
}

h2 {
  text-align: center;
  font-family: 'Fauna One', serif;
}

h3{
  text-align: center;
  padding-top: 72px;
  font-size: 3em;
  margin-bottom: -10px;
  font-family: 'Fauna One', serif;
}

hr {
  width: 600px;
}

p {
  text-align: center;
}

button {
  display: block;
  margin: 0 auto;
  margin-top: 100px;
  height: 50px;
  background-color: #3498DB;
  border: none;
  border-radius: 5px;
  padding: 0 10px 0 10px;
  font-family: 'Fauna One', serif;
}

button:hover {
  background-color: white;
}

ul {
  list-style-type: none;
}

li {
    display: inline;
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover {
  color: #A8D0EA;
}

.wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    background-color:#fff;
}

.wrap img {
    width: 100vw;
    height: auto;
    display: block;
}

.wrap:before, .wrap:after {
    content:'';
    position: absolute;
    bottom: 0;
    width: 50%;
    background-color: inherit;
    padding-bottom:3%;
}

.wrap:before {
    right: 50%;
    -ms-transform-origin: 100% 100%;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -ms-transform: skewX(45deg);
    -webkit-transform: skewX(45deg);
    transform: skewX(45deg);
}

.wrap:after {
    left: 50%;
    -ms-transform-origin: 0 100%;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -ms-transform: skewX(-45deg);
    -webkit-transform: skewX(-45deg);
    transform: skewX(-45deg);
}

.logo img {
  width: 100px;
  height: auto;
  margin-top: 20px;
}

.header {
  background-image: url('../img/mountains.jpeg');
  height:700px;
  background-size: 100%;
  object-fit: contain;
  background-position: 0px;
  margin-top: -10px;
}

.contentBlocks {
  display: flex;
  justify-content: center;
  margin: 100px;
}

.img {
  display: block;
  margin: 0 auto;
  width: 150px;
  border-radius: 50%;

  padding: 30px;
  border: 2px solid gray;
}

.img:hover {
  box-shadow: 5px 5px 2px #A8D0EA;
}

.one {
  margin: 200px;
}
